
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Análisis de Incidentes</title>
  <link rel="stylesheet" href="{{ url_for('static', path='/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', path='/bootstrap-icons.min.css') }}">
  <script src="{{ url_for('static', path='/bootstrap.js') }}"></script>
  <script src="{{ url_for('static', path='/jquery.slim.min.js') }}"></script>
  <script src="{{ url_for('static', path='/popper.min.js') }}"></script>
  <script src="{{ url_for('static', path='/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', path='/color-modes.js') }}"></script>
  <script src="{{ url_for('static', path='/tableToExcel.js') }}"></script>
  <style>
      body {
        padding-top: 3.3rem;
      }
      .jumbotron {
        padding: 3rem 2rem; //2.5 1.5 0rem
        margin-bottom: 1rem;
      }
      .bg-dark {
        background-color: #dc3545 !important;
      }
      .btn-outline-success {
        color: #dee2e6;
        background-color: transparent;
        background-image: none;
        border-color: #ced4da;
      }
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      .brd {
        border: 1px black;
        padding: 10px;
        border-style: inset;
        border-collapse: collapse;
      }
      .table-wrapper {
        border: 1px solid transparent;
        position: relative;
        height: 100%;
        width: 100%;
        //overflow-y: scroll;
        overflow-x: scroll;
        //overflow: auto;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">ORION Linux</a>
    <!--button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button-->

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <!--ul class="navbar-nav mr-auto"-->
      <ul class="navbar-nav mr-sm-5">
        <li class="nav-item active">
          <a class="nav-link" href="/convertion">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/healthy">HCheck</a>
        </li>
        <!--li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li-->
        <li class="nav-item dropdown">
          <a class="btn btn-danger dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Features
		  </a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
	        <a class="dropdown-item" href="https://access.redhat.com/support/cases/new" target="_blank" rel="noopener noreferrer">Open Red Hat Case</a>
            <a class="dropdown-item" href="#">FAQ</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">About</a>
          </div>
        </li>
      </ul>
      <form class="form-inline ml-sm-5 my-2 my-lg-0" method='GET' action="/convertion/analyze">
        <div class="custom-control custom-checkbox mr-sm-2">
          <input type="checkbox" class="custom-control-input" id="customControlAutosizing"
              name=isSpecificDay />
          <script type="text/javascript">
            const checkbox = document.getElementById('customControlAutosizing');
            checkbox.checked = {{ 'true' if isSpecificDay else 'false' }};
          </script>
          <label class="custom-control-label" for="customControlAutosizing">Specific day</label>
        </div>
        <select class="custom-select col-sm-1 mr-sm-2" id="inlineFormCustomSelect" readonly name=day>
          <option selected>day</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30">30</option>
          <option value="31">31</option>
        </select>
        <script type="text/javascript">
          var days = document.getElementById("inlineFormCustomSelect");
          days.disabled = !checkbox.checked;
          
          if ("{{day}}")
            days.value = "{{day}}";

          checkbox.onclick = function() {
            days.disabled = !checkbox.checked;
          }
        </script>
        <input class="form-control col-sm-1 mr-sm-2" type="text" 
          placeholder="hh:mm" aria-label="Search" name="start_hour" value="{{start_hour}}" />
        <input class="form-control col-sm-1 mr-sm-2" type="text"
          placeholder="hh:mm" aria-label="Search" name="end_hour" value="{{end_hour}}">
        <textarea class="form-control mr-sm-2" id="monoTA" rows="1" 
          placeholder="Server(s)"name="servers">{{ servers }}</textarea>
        <button class="btn btn-outline-success mr-sm-5 my-2 my-sm-0" type="submit">Analyze</button>
        <select class="form-control custom-select custom-select-sm col-sm-2">
          <option selected>7 F</option>
          <option value="1">ATM</option>
          <option value="2">BET</option>
          <option value="3">Conctact Center</option>
          <option value="3">Super Movil</option>
          <option value="3">CONTACT CENTER</option>
          <option value="3">Stratos / SIA</option>
          <option value="3">Transfer</option>
        </select>
      </form>
    </div>
  </nav>

  {% if message_error %}
    <div class="alert alert-warning" role="alert">{{ message_error }}</div>
  {% endif %}

  {% for i in range(1, csvlist|length) %}
    <main role="main">
      <div class="jumbotron">
        <div class="container">
          <!-- Name server -->
          <h1 class="display-4">{{csvlist[i][0]}}</h1>
          <p>{{csvlist[i][1]}} {{csvlist[i][2]}} <b>IPs: </b>{{csvlist[i][3]}}</p>
        </div>
      </div>
    </main>

    <div class="card-group" style="margin-left: 1%; margin-right: 1%">
      <div class="row">
        {% for column in range(4, 21) %}
          <div class="col-sm-3">
            <div class="card" style="width: 20rem;">
              <div class="card-body">
                <h5 class="card-title">{{csvlist[0][column]}}</h5>
                {% if column > 3 and column < 10 %}
                <div class="card-text">
                  <td>{{ csvlist[i][column] | safe }}%</td>
                </div>
				{% elif column == 10 %}
                <div class="card-text">
                  <!--td>{{ csvlist[i][column] | safe }}</td-->
				  <td><p class="text-muted mb-0"><small>{{ csvlist[i][column] | safe }}</small></p>
                </div>
                {% else %}
                <div class="card-text">
                  <td>{{ csvlist[i][column] | safe }}</td>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-1 mb-1 border-bottom">
      <h5 class="h5">Health Check</h5>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
          <button type="button" class="btn btn-sm btn-outline-secondary" onclick="exceller()">Export</button>
        </div>
      </div>
    </div>
<div class="table-wrapper">
  <table class="table table-sm align-middle mb-0 bg-white" id="tableHC">
    <thead class="bg-light">
      <tr>
        {% for head in healthylist[0] %}
          {% if head != "#####"  %}
            <th scope="col">{{ head }}</th>
          {% endif %}
        {% endfor %}
      </tr>
    </thead>
    <tbody class="table-group-divider table-divider-color">
      {% for body in healthylist[1:] %}
        <tr>
          <th scope="row">{{ body[0] }}</th>
          {% for cell in body[1:] %}
            {% if "unknown" == cell %}
              <td>
                <span class="badge badge-warning" data-toggle="tooltip" 
                    data-html="true" title="<u>{{ cell }}</u>">
                  Warning <i class="bi bi-exclamation-diamond" style="font-size: 1rem;"></i>
                </span>
              </td>
            {% elif cell | regex_search('[_ ]?KO|disabled|[Ii]nactive|[ _]?[nN][oO][kKtT _]?') %}
              <td>
                <span class="badge badge-danger" data-toggle="tooltip"
                    data-html="true" title="<u>{{ cell }}</u>">
                  Alert <i class="bi bi-x-lg" style="font-size: 1rem;"></i>
                </span>
              </td>
            {% elif cell | regex_search('([_ ]?OK)|enabled|[Aa]ctive|Yes') %}
              <td>
                <span class="badge badge-success" data-toggle="tooltip" 
                    data-html="true" title="<u>{{ cell }}</u>">
                  Right <i class="bi bi-check2" style="font-size: 1rem;"></i>
                </span>
              </td>
            {% elif "#####" == cell %}

            {% else %}
              <td>
                <span class="badge badge-secondary" data-toggle="tooltip" 
                    data-html="true" title="<u>{{ cell }}</u>">
                  Info
                </span>
              </td>
            {% endif %} 
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
  function exceller() {
    var uri = 'data:application/vnd.ms-excel;base64,',
      template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>',
      base64 = function(s) {
        return window.btoa(unescape(encodeURIComponent(s)))
      },
      format = function(s, c) {
        return s.replace(/{(\w+)}/g, function(m, p) {
          return c[p];
        })
      }
    var toExcel = document.getElementById("tableHC").innerHTML;
    var ctx = {
      worksheet: name || '',
      table: toExcel
    };
    var link = document.createElement("a");
    link.download = "Análisis de Incidentes API - HC.xls";
    link.href = uri + base64(format(template, ctx))
    link.click();
  }

</script>

<!--div class="container mt-3">
  <button type="button" class="btn btn-secondary"
      data-toggle="popover" title="Health check casi listo"
      data-content="Implementando opciones al HC">
    Construcción
  </button>
  <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-html="true" title="<em>Tooltip</em> <u>with</u> <b>HTML</b>">
    Feature to HC?
  </button>

  <a href="#" data-toggle="tooltip" title="Some tooltip text!">Hover over me</a>
  <button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title" data-bs-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>
</div-->

  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h3">Load average</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
          <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
          <span data-feather="calendar"></span>
          This week
        </button>
      </div>
    </div>
    <canvas class="my-4 w-60" id="myChart" width="600" height="380"></canvas>
  </main>
<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">&copy; 2024 Técnica de Sistemas Linux, Orion</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
    </a>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
      <!--li class="nav-item"><a href="/healthy/" class="nav-link px-2 text-muted">Health Check</a></li-->
      <li class="nav-item"><a href="https://access.redhat.com/support/cases/new" target="_blank" rel="noopener noreferrer" class="nav-link px-2 text-muted">Open Red Hat Case</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
    </ul>
  </footer>
</div>
  <script type="text/javascript">
    $(document).ready(function(){
      $('[data-toggle="popover"]').popover();
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
  </body>
</html>
