
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Análisis de Incidentes</title>
  <link rel="stylesheet" href="{{ url_for('static', path='/bootstrap.min.css') }}">
  <!-- link rel="stylesheet" type="text/css" href="templates/bootstrap.min.css" -->
  <style>
      body {
        padding-top: 3.5rem;
      }
      .bg-dark {
        background-color: #dc3545 !important;
      }
      .btn-outline-success {
        color: #dee2e6;
        background-color: transparent;
        background-image: none;
        border-color: #ced4da;
      }
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
  </style>
  <script src="{{ url_for('static', path='/jquery-3.3.1.slim.min.js') }}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="{{ url_for('static', path='/jquery-slim.min.js') }}"><\/script>')</script><script src="{{ url_for('static', path='/bootstrap.bundle.min.js') }}" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">ORION Linux</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <!--ul class="navbar-nav mr-auto"-->
      <ul class="navbar-nav mr-sm-5">
        <li class="nav-item active">
          <a class="nav-link" href="/convertion">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
        <!--li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
	        <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li-->
      </ul>
      <form class="form-inline ml-sm-5 my-2 my-lg-0" method='GET' action="/convertion/analyze">
        <div class="custom-control custom-checkbox mr-sm-2">
          <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
          <label class="custom-control-label" for="customControlAutosizing">Specific day</label>
        </div>
        <select class="custom-select col-sm-1 mr-sm-2" id="inlineFormCustomSelect" readonly>
          <option selected>day</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30">30</option>
          <option value="31">31</option>
        </select>
        <input class="form-control col-sm-1 mr-sm-2" type="text" placeholder="hh:mm:ss" aria-label="Search" name="query">
        <input class="form-control col-sm-1 mr-sm-2" type="text" placeholder="hh:mm:ss" aria-label="Search" name="query">
        <textarea class="form-control mr-sm-2" id="monoTA" rows="1" placeholder="Server(s)"name="query">{{ query }}</textarea>
        <button class="btn btn-outline-success mr-sm-2 my-2 my-sm-0" type="submit">Analyze</button>
        <select class="form-control custom-select custom-select-sm col-sm-2">
          <option selected>7 F</option>
          <option value="1">ATM</option>
          <option value="2">BET</option>
          <option value="3">Conctact Center</option>
          <option value="3">Super Movil</option>
          <option value="3">CONTACT CENTER</option>
          <option value="3">Stratos / SIA</option>
          <option value="3">Transfer</option>
        </select>
      </form>
    </div>
  </nav>

  {% if message_error %}
    <div class="alert alert-warning" role="alert">{{ message_error }}</div>
  {% endif %}

  {% for i in range(1, csvlist|length) %}
    <main role="main">
      <div class="jumbotron">
        <div class="container">
          <!-- Name server -->
          <h1 class="display-4">{{csvlist[i][0]}}</h1>
          <p>{{csvlist[i][1]}} {{csvlist[i][2]}} <b>IPs: </b>{{csvlist[i][3]}}</p>
        </div>
      </div>
    </main>

    <div class="card-group">
      {% for column in range(4, 12) %}
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{csvlist[0][column]}}</h5>
              <div class="card-text">
                <td>{{csvlist[i][column]}}</td>
              </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}

  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h3">Load average</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
          <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
          <span data-feather="calendar"></span>
          This week
        </button>
      </div>
    </div>
    <canvas class="my-4 w-60" id="myChart" width="600" height="380"></canvas>
  </main>
</body>
<!-- footer class="container">
  <p>&copy; SDS 2024</p>
</footer -->
</html>
